@inherits LayoutComponentBase

<div class="page">
    <aside class="sidebar">
        <NavMenu />
    </aside>

    <main class="main">
        <header class="top-row">
            <a href="examples">Examples</a>
            <a href="https://github.com/msynk/BlazorFlow" target="_blank" rel="noopener">GitHub</a>
            <a href="https://learn.microsoft.com/aspnet/core/blazor/" target="_blank" rel="noopener">Blazor Docs</a>
        </header>

        <article class="content">
            @Body
        </article>
    </main>
</div>
